if SHIELD_SLEIPNIR_LEFT
config ZMK_KEYBOARD_NAME
    default "SleipnirLeft"
endif

if SHIELD_SLEIPNIR_RIGHT
config ZMK_KEYBOARD_NAME
    default "SleipnirRight"
config ZMK_SPLIT_ROLE_CENTRAL
    default n
endif
